@using ald = AquaLearn.Domain.Models;
@using avm = AquaLearn.MVCClient.ViewModels;
@model AquaLearn.MVCClient.Models.UserModel

<div>
    <h2>Students in Your Class</h2>

    @{
        List<ald.User> Students = avm.AdminViewModel.GetStudentsByClassroomId(Model.UserId);

        <ol>
            @foreach (var stu in Students)
            {
            <li>
                <p>@stu.Username</p>
                    @foreach (var quiz in stu.Quizzes)
                    {
                        <p>@quiz.Name</p>
                        <br />
                    }
                    <br />
                </li>
            }
        </ol>
    }
    <br />
</div>
