@model AquaLearn.Client.Models.ExhibitViewModel
@using AquaLearn.Domain.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col">
        <canvas id="myCanvas" width="720" height="480" style="border:1px solid #000000;"></canvas>
    </div>
</div>

@{ 
    // C# to JS
    var Exhibit = new Exhibit();
    Model.Vector3Current = new float[] { 0, 0, 0 };
    for(var i = 0; i < Exhibit.Vector3Current.Length; i++)
    {
        Model.Vector3Current[i] = Exhibit.Vector3Current[i];
    }
  }

<script>
    draw();
    function draw() {
        var myGameArea = document.getElementById("myCanvas");
        var x = @Model.Vector3Current[0];
        var y = @Model.Vector3Current[1];
        var z = @Model.Vector3Current[2];
        if (myGameArea.getContext) {
            var ctx = myGameArea.getContext('2d');
            ctx.fillRect(x, y, 50, 50);
        }
    }
</script>