@{
    ViewData["Title"] = "Home Page";
}

<body style="background-size: cover; background-image: url(https://cdn5.vectorstock.com/i/1000x1000/42/04/cartoon-shark-pirate-swimming-in-the-ocean-vector-6594204.jpg)">
    <div class="text-center">
        <h1 class="display-4">Welcome to Aqua Learn!</h1>
        <p>Create and account or login to learn about me and my crew! Explore or natural habitats and learn how to help keep our home clean!</p>
    </div>

</body>

