
@using aldm = AquaLearn.Domain.Models;
@using AquaLearn.MVCClient.Models;
@{
  ViewData["Title"] = "Index";
}

<body>
  <div style="display:flex; justify-content:center;">
    <canvas id="myCanvas" width="720" height="480" style="border:1px solid #000000;"></canvas>
  </div>
</body>