@model UserModel;
@{
    ViewData["Title"] = "_TeacherAdmin";
}

<h1>Welcome @Model.Username !</h1>

<div>
    <h2>
         Your Classroom
    </h2>
 </div>
<div>
@using (Html.BeginForm("AddStudent", "user"))
{
    @Html.LabelFor(u => u.Username, "Add Student")<br />
    @Html.TextBoxFor(u => u.Username)<br />

    <button type="submit"> Add</button>
}

</div>