
@{
    ViewData["Title"] = "Index";
}

<h1>_CoralReef</h1>

<body>
  <div style="display:flex; justify-content:center;">
    <canvas id="myCanvas" width="480" height="480" style="border:1px solid #000000; background-color:pink"></canvas>
  </div>
</body>