
@{
  ViewData["Title"] = "Index";
}

<h1>Habitat</h1>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Choose Habitat</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="exhibit/_DeepOcean">1</a>
    <a href="exhibit/_CoralReef">2</a>
  </div>
</div>