@model AquaLearn.Domain.Models.User

<div>
  <h1>Student Login</h1>
  @using (Html.BeginForm("loginstudent", "user"))
  {
    @Html.LabelFor(u => u.Username, "Enter your name")<br />
    @Html.TextBoxFor(u => u.Username)<br />

    @Html.LabelFor(u => u.Password, "Enter your password")<br />
    @Html.TextBoxFor(u => u.Password)<br />

    <button type="submit">Submit</button>
  }
</div>

