<div class="text-center">
  <h1>Login</h1>
  @using (Html.BeginForm("registerstudent", "user"))
  {
    @*@Html.LabelFor(u => u.UserName, "Enter your name")
      @Html.TextBoxFor(u => u.UserName)

      @Html.LabelFor(u => u.Password, "Enter your password")
      @Html.TextBoxFor(u => u.Password)*@

    <button type="submit">Submit</button>
  }
</div>

