@model AquaLearn.MVCClient.Models.ExhibitViewModel
@using aldm = AquaLearn.Domain.Models;
@using AquaLearn.MVCClient.Models;
@{
    ViewData["Title"] = "Aqua Learn";
}

<body>
    <div class="text-center" style="background: rgba(255, 255, 255, 0.3);">
        <h1 class="display-4">Welcome to Aqua Learn!</h1>
        <h2>Create an account or login to learn about my crew and I! Explore our natural habitats and learn how to help keep our home clean!</h2>
        <h2>Go to the exhibit page to see and learn about fish that live in different habitats.</h2>
        <h2>You can also see the different types of pollution that can be seen in the ocean and learn how to prevent it.</h2>
        <h2>Test your knowledge on the Quiz! Try to get all of them right!</h2>
        <h2>🐟🦈🐡🐠🦀🦐🐚🐬🐳🐋🦑🐙</h2>
    </div>
</body>
