@model AquaLearn.MVCClient.Models.ExhibitViewModel
@using aldm = AquaLearn.Domain.Models;
@using AquaLearn.MVCClient.Models;
@{
    ViewData["Title"] = "Aqua Learn";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Aqua Learn!</h1>
        <p>Create an account or login to learn about my crew and I! Explore our natural habitats and learn how to help keep our home clean!</p>
    </div>
</body>
