
@{
  ViewData["Title"] = "Login";
}

<h1>Login</h1>

<p>To begin, please say if you are a student or a teacher.</p>

<div id="placeholder">
  <button type="button" onclick="chooseStudent(this.id)" id="_StudentLogin">Student</button>
  <button type="button" onclick="chooseTeacher(this.id)" id="_TeacherLogin">Teacher</button>
</div>

<script> 

</script>
function chooseStudent(partialViewToInsert)
    {
      $.ajax({
        url: '@Url.Action("AddPartialToView", "Exhibit")',
        data: { id: partialViewToInsert },
        type: "Post",
        success: function (data) {
        $('#placeholder').html(data);
        }
        });
        $.ajax({
        url: '@Url.Action("SetCoral", "Exhibit")'
        });

        }
