@model AquaLearn.MVCClient.Models.UserModel


@{
    ViewData["Title"] = "Login";
}

<style>
    @@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
</style>


 
    <div class="box">
        @using (Html.BeginForm("Validation", "User"))
        {
            
            <div class="form">
                @Html.LabelFor(m => m.Username, "Username")
                @Html.TextBoxFor(m => m.Username)

            </div>

            <div class="form">
                @Html.LabelFor(m => m.Password, "Password")
                @Html.PasswordFor(m => m.Password)

            </div>

            <div class="buttons">
                <button type="submit" class="loginbutton" id="login">Log in</button>
            </div>

            <div class="registerlink">
                <small class="">Not a User? <a class="" asp-controller="Home" asp-action="Register">Sign Up</a> Now.</small>
            </div>


        }
    </div>



