@{
  ViewData["Title"] = "Login";
}

<style>
    import url('https://fonts.googleapis.com/css?family=Fredoka+One'); {
    }
</style>

<body>
  <div class="text-center" style="background: rgba(255, 255, 255, 0.3);">
    <h2 style="font-family:'Fredoka One', cursive;">Are you a student or a teacher?</h2>

    <div id="placeholder">
      <button type="button" onclick="chooseStudent(this.id)" id="_StudentLogin">Student</button>
      <button type="button" onclick="chooseTeacher(this.id)" id="_TeacherLogin">Teacher</button>
    </div>
  </div>
</body>

<script> 
  function chooseStudent(partialViewToInsert)
  {
    $.ajax({
      url: '@Url.Action("AddPartialToView", "Home")',
      data: { id: partialViewToInsert },
      type: "Post",
      success: function (data) {
        $('#placeholder').html(data);
      }
    });
  }
  
  function chooseTeacher(partialViewToInsert)
  {
    $.ajax({
      url: '@Url.Action("AddPartialToView", "Home")',
      data: { id: partialViewToInsert },
      type: "Post",
      success: function (data) {
        $('#placeholder').html(data);
      }
    });
  }
</script>
