@model AquaLearn.MVCClient.Models.UserModel
@{
  ViewData["Title"] = "Register";
}

<style>
  @@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
</style>

<div class="row" style="background: rgba(255, 255, 255, 0.3); padding:10px;">
    <h2 style="font-family:'Fredoka One', cursive;">Are you a student or a teacher?</h2>
    <div class="row container-fluid" style="padding:10px;">
        <div class="col-sm-3 justify-content-center">
            <button type="button" class="btn btn-dark waves-effect" onclick="choosePartial(this.id)" id="_StudentRegPartial">Student</button>
        </div>
        <div class="col-sm-3 justify-content-center">
            <button type="button" class="btn btn-dark waves-effect" onclick="choosePartial(this.id)" id="_TeacherRegPartial">Teacher</button>
        </div>
    </div>
    <div class="col-12" style="padding:10px;" id="placeholder"></div>
</div>

<script>
    function choosePartial(partialViewToInsert) {
        $.ajax({
            url: '@Url.Action("AddPartialToView", "Home")',

            data: { id: partialViewToInsert },

            type: "Post",

            success: function (data) {
                $('#placeholder').html(data);
            }
        });
    }
</script>
