
@{
  ViewData["Title"] = "Register";
}

<h1>Register</h1>

<p>To begin, please say if you are a student or a teacher.</p>

<div id="placeholder">
  <button type="button" onclick="chooseStudent(this.id)" id="_StudentRegister">Student</button>
  <button type="button" onclick="chooseTeacher(this.id)" id="_TeacherRegister">Teacher</button>
</div>