
@{
  ViewData["Title"] = "Register";
}

<h1>Register</h1>

<p>To begin, please say if you are a student or a teacher.</p>

<div id="placeholder">
  <button type="button" onclick="chooseStudent(this.id)" id="_StudentRegister">Student</button>
  <button type="button" onclick="chooseTeacher(this.id)" id="_TeacherRegister">Teacher</button>
</div>

<script>

  function chooseStudent(partialViewToInsert)
  {
    $.ajax({
      url: '@Url.Action("AddPartialToView", "Home")',
      data: { id: partialViewToInsert },
      type: "Post",
      success: function (data) {
      $('#placeholder').html(data);
      }
    });
  }

  function chooseTeacher(partialViewToInsert)
  {
    $.ajax({
      url: '@Url.Action("AddPartialToView", "Home")',
      data: { id: partialViewToInsert },
      type: "Post",
      success: function (data) {
      $('#placeholder').html(data);
      }
    });
  }
</script>