@model AquaLearn.MVCClient.Models.UserModel
@{
  ViewData["Title"] = "Register";
}

<style>
  @@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
</style>

    <div class="box" style="background: rgba(255, 255, 255, 0.3);">
        <h2 style="font-family:'Fredoka One', cursive;">Are you a student or a teacher?</h2>

        <div>
            <button type="button" onclick="choosePartial(this.id)" id="_StudentRegPartial">Student</button>

            <button type="button" onclick="choosePartial(this.id)" id="_TeacherRegPartial">Teacher</button>
            <div id="placeholder"></div>

        </div>
    </div>

<script>

    function choosePartial(partialViewToInsert) {

        $.ajax({

            url: '@Url.Action("AddPartialToView", "Home")',

            data: { id: partialViewToInsert },

            type: "Post",

            success: function (data) {
                $('#placeholder').html(data);
            }
        });
    }
</script>
